{% extends 'BasePage.html' %}

{% block title %}
首頁
{% endblock %}

{% block css %}
{% endblock %}

{% block  main %}

<div id='hot' style="width: 80%; margin-left: 10%;">
	
	<!-- 可以到 lccuser . lccdemo 資料庫找資料 -->
	{% for row in travel %}

		<div style="width:20%; float: left; height: 400px; padding: 2%;">

			<img style="width: 100%;" src="{{row[4]}}"> <!-- 照片 -->
			<p>{{ row[1] }}</p> <!-- 標題 -->
			<span>NT:{{ row[2] }}</span> <!-- 價格 -->

		</div>

	{% endfor %}

</div>

<div style="clear: both;" />

<div id='hotgoods' style="width: 80%; margin-left: 10%;">
	
	<!-- 可以到 lccuser . lccdemo 資料庫找資料 -->
	{% for row in goods %}

		<div style="width:20%; float: left; height: 400px; padding: 2%;">

			<img style="width: 100%;" src="{{row[4]}}"> <!-- 照片 -->
			<p>{{ row[2] }}</p> <!-- 標題 -->
			<span>NT:{{ row[3] }}</span> <!-- 價格 -->

		</div>

	{% endfor %}

</div>

{% endblock %}