/*
id 在 html 只會有一個名稱
在 css 中 以 # 開頭來設定 id


class 在 html 會有很多個，
	這個設定讓很多的 html 標籤使用
在 css 中 以 . 開頭設定 class


也可以直接設定 html 的標準標籤 
a img body .....
在 css 中 直接以 html 標籤來設定
*/

body{
	width: 100%;
	height: 100%;
	font-family:微軟正黑體,sans-serif,Arial,標楷體 ; /* 網站字型  */
	font-size: 17px;
	margin: 0; /* 上下左右外部距離都是 0 */
	padding: 0;
}

p{

}

#wraper{
	min-height: 100%; /* 這個區塊的最低高度為 100%  */
	margin-bottom:-60px ; /* 將區塊高度內縮 60px ??? 主要是 footer 的高度會設定為 60px */
	/* margin-bottom : 外部距離 底部 有多少 */	
}

#banner{
	width: 100%;
	height: 60px;
	/*background-color: #ff0000; /* RGB 色票   */
}

#banner img{
	
}

#menu{
	width: 100%;
	height: 50px;
	background-color: #FC5923;
}

#menu ul{
	padding-left: 25%;
	padding-top: 15px;
}



#menu li{
	float: left;
	padding-left: 2em; /* 畫面比例換算 */
	padding-right: 2em;
	list-style: none; /* 項目符號不要出來 none 沒有 */
}

#menu a{
	color: #ffffff; /* 字顏色 : 白色  */
	text-decoration: none; /* 超連結 不要有底線  */
	font-weight: bold; /* 字體粗細 : 粗體 */	
}


/*  手機來看 ，最大寬度在 768px 以內    */
@media only screen and (max-device-width: 768px){

#menu ul{
	padding-left: 10%;
	padding-top: 15px;
}


}


#content{
	width: 100%;
	/*background-color: #00ff00 ; /* 綠色  */
}

#footer{
	clear: both; /* 清除浮板左右都清 */
	height: 60px;
	width: 100%;
	background-color: #000000;
	color: #ffffff; /* 白色 */
	text-align: center; /* 文字置中 */
}